.wrapper {
  display: flex;
  flex-flow: row wrap;
  max-width: 78rem;
  margin-left: auto;
  margin-right: auto;
}

.grid__row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
}

.grid__column {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-start;
  margin: 0 calc(var(--gutter-width) / 2) 1rem;
  width: calc(100% - var(--gutter-width));
}

.grid__column > * {
  width: 100%;
}

.grid__column > .grid__column {
  margin: 0;
}

@media screen and (min-width: 400px)  {
  .size3of24,
  .size6of24 {
    width: calc(25% - var(--gutter-width));
  }

  .size8of24,
  .size9of24,
  .size12of24 {
    width: calc(50% - var(--gutter-width));
  }

  .size15of24 {
    width: calc(62.5% - var(--gutter-width));
  }
}

@media screen and (min-width: 800px) {
  .size3of24 {
    width: calc(12.5% - var(--gutter-width));
  }

  .size8of24 {
    width: calc(33% - var(--gutter-width));
  }

  .size9of24 {
    width: calc(37.5% - var(--gutter-width));
  }
}
